@import url(../css/melodrama.css);

:root{
    --font-base:"Melodrama", sans-serif;
}
body {
    /* font-family:  var(--font-base); */
    box-sizing: border-box;
    background-color: #e4e4e4a4;
    color: #909597;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
.h1{
    color:  #fad713;
    margin-bottom: 0px;
}

                       /* navbar*/
.logo{
    margin: 5px;
    width: 80px;
    height: 80px;
}
.custom-navbar {
    background-color: #000000d6;
    padding: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1rem;
    margin: 0 15px;
    position: relative; 
    color: #ffffff; 
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar-nav .nav-link:hover {
    color: #FFD700;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(20deg, #e0c52c, #ffeb3bbd);
    transition: width 0.6s ease;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
    background: linear-gradient(90deg, #fad713, #ffeb3bbd);
}
.custom-offcanvas {
    background-color: #000000d6;
    color: white; 
}
.offcanvas-header{
    padding: unset;
}
.custom-offcanvas .btn-close {
    position: relative;
    filter: invert(1);
    right: 46px;
}
.navbar-toggler {
    border: none;
    height: 42px; 
    background-color: #f1d010e6;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: 800px;
    color:  #ffffff;
    padding: 10px;
    text-align: center;
}
.navbar-nav .nav-link::after {
    display: block;
}

                    /* seccion header */

.header {
    top: -100px;
    position: relative;
    height: 100vh;
    background-image: url('../imgs/herasportada1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #606263;
}
.contenido-header {
    flex-direction: column; 
    justify-content: center;
}
.slogan{
    padding: 0px 16px;
}
.contenido-header a span {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 5px 8px;
}
.section-gallery, .section-contact {
    padding: 60px 0;
}

                    /* seccion nuestras cervezas */

.filter-btn {
    color: black;
    width: 90px;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.filter-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    border-radius: 20%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.8s ease;
    z-index: -1;
}
.filter-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
.filter-btn:hover {
    color: black;
}
.filter-btn.all:hover::before {
    background-color: rgba(255, 255, 255, 0.822);
}
.filter-btn.blonde:hover::before {
    background: linear-gradient(135deg, #e0c52c, #ffeb3b);
}
.filter-btn.ipa:hover::before {
    background: linear-gradient(135deg, #00A878, #00B4D8);
}
.filter-btn.stout:hover::before {
    background: linear-gradient(135deg, #2F4F4F, #000000);
}
.filter-btn.red:hover::before {
    background: linear-gradient(135deg, #830909bb, #ff000d);
}
.filter-btn.citric:hover::before {
    background: linear-gradient(135deg, #ffa844, #f0a927cb);
}
.filter-btn.cajon:hover::before {
    background: linear-gradient(135deg,  #A9A9A9, #808080);
}
#cervezas::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 8%;
    height: 4px;
    background-color: #f1d010e6;       
}            
#beerCards{
    justify-content: center;
}
.card-header {
    padding: 20px 0px;
    position: relative;
    z-index: 1; 
}
.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.icon-circle i {
    font-size: 25px;
    color: #25D366;
}
.mp-icon {
    cursor: pointer;
    object-fit: cover;
}
.icon-circle:hover {
    background-color: #d6d6d6ce;
}
.card-section {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    width: 100%;
    height: 345px;
} 
.card-section .card-text {
    padding: 0px 10px;
    font-size: 18px;
    height: 60px;
    margin-bottom: 10px;

}
.hr-line {
    width: 85%;
    margin: 0 auto; 
}
.beer-card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.beer-card.show {
    margin-bottom: 15px;
    opacity: 1;
    transform: translateY(0);
}

                        /* seccion sobre nosotros */

.about-content {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    color: #333;
}

.sobre_nosotros::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 8%;
    height: 4px;
    background-color: #f1d010e6;
}
.img-about {
    max-height: 420px;
    object-fit: cover;
    width: 58%;
    border-radius: 2%;
}
.features-icons i.icon {
    font-size: 2.5rem;
    color: #f1d010e6;
}
.features-icons h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.features-icons p {
    font-size: 0.95rem;
    color: #667;
}
                            /* Animations */

.section-about h2, .section-beers h2 {
    opacity: 0;
    animation: slideIn 3s forwards;
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.about-content, .img-about {
    transform: translateY(20%);
    animation: slideImage 5s forwards;
}

@keyframes slideImage {
    to {
        transform: translateY(0);
    }
}
@keyframes slideText {
    to {
        transform: translateY(0);
    }
}
                                /* Btns wp y to top */

.whatsapp-button {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
}
.back-to-top {
    position: fixed;
    bottom: 26px;
    right: 80px;
    display: none;
}

@media (max-width: 768px) {
    .custom-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .h1 {
        font-size: 2rem;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
    .offcanvas.offcanvas-end{
        top: 80px;
    }
    
    body.offcanvas-open {
        padding-right: 0px !important;
        overflow-y: auto ;
    }
      
}